/*****************************************************
 *       Top Device Tree for EBAZ4205 Board          *
 *           Project Terminal Server x16             *
 *                                                   * 
 *   File   : zynq-ebaz4205.dts                      * 
 *   Author : Xiaohai Li (haixiaolee@gmail.com)      * 
 *   Rev    : v0.2 2020-03-16                        * 
 *****************************************************/

/dts-v1/;
#include "zynq-7000-ebaz4205.dtsi"
#include "pcw-ebaz4205.dtsi"
#include "pl-ebaz4205.dtsi"

/ {
	model = "Zynq EBAZ4205 board";
	compatible = "xlnx,zynq-ebaz4205", "xlnx,zynq-7000";

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0:115200n8";
	};

	aliases {
		ethernet0 = &gem0;
		serial0 = &uart1;
		mmc0 = &sdhci0;
		nand0 = &nand0;
		com0  = &com_x16_com_0;
		com1  = &com_x16_com_1;
		com2  = &com_x16_com_2;
		com3  = &com_x16_com_3;
		com4  = &com_x16_com_4;
		com5  = &com_x16_com_5;
		com6  = &com_x16_com_6;
		com7  = &com_x16_com_7;
		com8  = &com_x16_com_8;
		com9  = &com_x16_com_9;
		com10 = &com_x16_com_10;
		com11 = &com_x16_com_11;
		com12 = &com_x16_com_12;
		com13 = &com_x16_com_13;
		com14 = &com_x16_com_14;
		com15 = &com_x16_com_15;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x10000000>;
	};
};

&gem0 {
	status = "okay";
	phy-mode = "mii";
	local-mac-address = [00 0A 35 00 00 AA];
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
		device_type = "ethernet-phy";
	};
};

&sdhci0 {
	status = "okay";
	xlnx,has-cd = <0x1>;
        xlnx,has-power = <0x0>;
        xlnx,has-wp = <0x0>;
};

&uart1 {
	status = "okay";
};

&nand0 {
	status = "disabled";
};
